<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gmlee.stock.dao.mapper.StockStrategyDealMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.gmlee.stock.dao.entity.StockStrategyDeal">
        <id column="date" property="date"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="price" property="price"/>
        <result column="current_date" property="currentPrice"/>
        <result column="current_date" property="currentDate"/>
        <result column="days" property="days"/>
        <result column="sold" property="sold"/>
        <result column="strategy_id" property="strategyId"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        date, code, name, price, current_price, current_date, days, sold, strategy_id
    </sql>

    <insert id="insertOrUpdateBatch">
        INSERT INTO stock_strategy_deal (
        `date`, `code`, `name`, `price`, `current_price`,
        `current_date`, `rise_ratio`, `days`, `sold`, `strategy_id`
        )
        VALUES
        <foreach collection="entities" item="item" separator=",">
            (
            #{item.date}, #{item.code}, #{item.name}, #{item.price}, #{item.currentPrice},
            #{item.currentDate}, #{item.riseRatio}, #{item.days}, #{item.sold}, #{item.strategyId}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        `name` = VALUES(`name`),
        `price` = VALUES(`price`),
        `current_price` = VALUES(`current_price`),
        `current_date` = VALUES(`current_date`),
        `rise_ratio` = VALUES(`rise_ratio`),
        `days` = VALUES(`days`),
        `sold` = VALUES(`sold`);
    </insert>
</mapper>
